
@media screen and (max-width:375px){
    .app{
        text-align:center;
    }
  .header .container{
      max-width:375px;
      width:100%;
      padding:6rem 1.3rem;
      margin:0 auto;
      background-color:rgb(99, 30, 209);
      background:url("./images/bg_mobile.png");
      background-repeat: no-repeat;
  }
  
  h1{
      position:relative;
      bottom:4.5rem;
      text-transform:capitalize;
      color:white;
      font-weight:600;
      text-align: center;
  }
  
  form{
      display:flex;
      justify-content:center;
      align-items:center;
      max-width:95%;
      border-radius:1rem;
      position:relative;
      bottom:3rem;
  }
  
  form .search, 
  form button{
      padding:1.2rem 0.2rem;
      border:none;
      background:white;
      transform:translateX(0.5rem);
  }
  
  form .search{
      flex-grow:1;
      border-top-left-radius:0.8rem;
      border-bottom-left-radius:0.8rem;
      padding:1.24rem 0.2rem;
      font-weight:400;
      font-size:1rem;
      border:none;
      outline:none;
  }
  
  form button{
      padding-inline:1.4rem;
      background-color:black;
      border-top-right-radius:0.7rem;
      border-bottom-right-radius:0.7rem;
  }
  
  
  /* Card */
  .card{
      position:relative;
      padding:2.4rem 1.4rem;
      margin-top:1.5rem;
      background-color:rgb(255, 255, 255);
      /* transform:translateX(0.5rem);   */
      border-radius:0.8rem;
      position:relative;
      top:-2.5rem;
      z-index:2;
  }
  
  .info{
      position:relative;
      top:0.4rem;
      left:1rem;
      background-color:rgb(255, 255, 255);
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      width:60vw;
      transform:translateX(0.5rem);   
      
  }
  
  .info label{
      color: hsl(0, 0%, 59%);
      text-transform:uppercase;
      font-weight:bold;
      font-size:0.7rem;
  }
  
  .info label,
  .info input{
      margin-bottom:0.8rem;
      text-align:center;
      
  }
  
  .info input{
      /* background-color:black; */
      width:100%;
      font-size:1.3rem;
      font-weight:500;
      border:none;
      outline:none;
  }

  .group{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
  }
  .loader{
    width:2rem; 
    background-color:blue;
}

.gif{
    background-color:transparent;
    position:absolute;
    top:6rem;
    width:4rem;
    left:50%;
    max-height:4rem;
    border-radius:50%;
    transform:translateX(-50%);
}
  }

  /* media 1440px */
  @media screen and (min-width:376px){
    .header{
        min-height:30rem;
    }

    .header .container{
        max-width:1440px;
        width:100%;
        padding:2rem 2rem;
        margin:0 auto;
        background-color:rgb(99, 30, 209);
        background:url("./images/pattern-bg-desktop.png");
        background-repeat: no-repeat;
        object-fit:cover;
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
        max-height:43vh;
    }
     
    h1{
        font-size:1.7rem;
        color:white;
        z-index: 20;
        font-weight:500
    }
    .top{
        display:flex;
        justify-content:center;
        align-items:center;
        max-width:95%;
        border-radius:1rem;
        position:relative;
        flex-direction:column;
        gap:1.5rem;
        top:1rem;
    }
    
    form .search, 
    form .arrow{
        padding:1.2rem 0.2rem;
        border:none;
        background:white;
        transform:translateX(0.5rem);
        position:relative;
        
    }

    .search{
    padding-inline:1.4rem;
      background-color:rgb(58, 58, 58);
      border-top-left-radius:0.7rem;
      border-bottom-left-radius:0.7rem;
      min-width:23rem;
    }

    form .arrow{
        padding-inline:1.4rem;
      background-color:black;
      border-top-right-radius:0.7rem;
      border-bottom-right-radius:0.7rem;
        
    }

    .card{
        position:relative;
        top:4.5rem;
        border-radius:1rem;
        max-width:52rem;
        left:12.5rem;
        box-shadow:0 12px 12px rgba(0,0,0,0.2); 
        z-index:211;
    }

    .group{
        display:flex;
        flex-direction:column;
    }


    .card .info{
        display:flex;
        align-items:center;
        justify-content:center;
        background-color:white;
         gap:1rem; 
        padding:2.5rem 0;
        border-radius:1rem;
        background-color:rgb(255, 255, 255);
    }

    .group{
        border-right:1px solid hsl(0, 0%, 59%);
        padding:0.6rem 1.2rem;
        gap:0.7rem;
    
    }
    .group label{
        color:hsl(0, 0%, 59%);
        font-weight:500;
        font-size: 0.6rem;
        text-transform:uppercase;
        text-align:justify;
    }

    .group label:nth-child(4){
        border-right:none;
    }

    .group input{
        font-size:1.2rem;
        max-width:9.5rem;
        border:none;
        outline:none;
    }
   
   

    

   
  } 


