.App {
  text-align: center;
}

@media screen and (max-width:375px){
  .header .container{
      max-width:375px;
      width:100%;
      padding:6rem 1.3rem;
      margin:0 auto;
      background-color:rgb(99, 30, 209);
      background:url("./images/bg_mobile.png");
      background-repeat: no-repeat;
      
  }
  
  h1{
      position:relative;
      bottom:4.5rem;
      text-transform:capitalize;
      color:white;
      font-weight:600;
  }
  
  form{
      display:flex;
      justify-content:center;
      align-items:center;
      max-width:95%;
      border-radius:1rem;
      position:relative;
      bottom:3rem;
  }
  
  form .search, 
  form button{
      padding:1.2rem 0.2rem;
      border:none;
      background:white;
      transform:translateX(0.5rem);
  }
  
  form .search{
      flex-grow:1;
      border-top-left-radius:0.8rem;
      border-bottom-left-radius:0.8rem;
      padding:1.24rem 0.2rem;
      font-weight:400;
      font-size:1rem;
      border:none;
      outline:none;
  }
  
  form button{
      padding-inline:1.4rem;
      background-color:black;
      border-top-right-radius:0.7rem;
      border-bottom-right-radius:0.7rem;
  }
  
  
  /* Card */
  .card{
      position:relative;
      padding:2.4rem 1.4rem;
      margin-top:1.5rem;
      background-color:rgb(255, 255, 255);
      /* transform:translateX(0.5rem);   */
      border-radius:0.8rem;
      position:relative;
      top:-2.5rem;
      z-index:2;
  }
  
  .info{
      position:relative;
      top:0.4rem;
      left:1rem;
      background-color:rgb(255, 255, 255);
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      width:60vw;
      transform:translateX(0.5rem);   
      
  }
  
  .info label{
      color: hsl(0, 0%, 59%);
      text-transform:uppercase;
      font-weight:bold;
      font-size:0.7rem;
  }
  
  .info label,
  .info input{
      margin-bottom:0.8rem;
      text-align:center;
      
  }
  
  .info input{
      /* background-color:black; */
      width:100%;
      font-size:1.3rem;
      font-weight:500;
      border:none;
      outline:none;
  }
  }


